<%+header%>
<!-- LuCI Title -->
<h2><%: 域名绑定 %></h2>
<div class="cbi-map-descr">
    指定特定域名通过指定 DNS 服务器解析名称，以达到域名解析分流的效果。
</div>

<!-- Apply Loading -->
<fieldset class="cbi-section" id="cbiApplyUi" style="display: none;">
    <legend>正在应用更改</legend>
    <img src="/luci-static/resources/icons/loading.gif" alt="加载中" style="vertical-align:middle">
    <span id="cbiApplyUiText">正在应用更改，请稍候 ...</span>
</fieldset>

<fieldset class="cbi-section" style="margin-top:15px">
    <legend>解析分流</legend>
    <textarea id="txtServers"
        style="width:100%;height:300px;resize:none;margin-top:0"><%=luci.sys.exec("cat /etc/dnsmasq.servers")%></textarea>
</fieldset>

<fieldset class="cbi-section">
    <legend>主机文件</legend>
    <textarea id="txtHosts"
        style="width:100%;height:300px;resize:none;margin-top:0"><%=luci.sys.exec("cat /etc/hosts")%></textarea>
</fieldset>

<fieldset class="cbi-section">
    <button onclick="save()" class="cbi-button" style="margin:15px 20px;">保存并应用</button>
</fieldset>

<script>
    function save() {
        cbiApplyUi.style.display = "block";
        let servers = document.querySelector("#txtServers");
        let hosts = document.querySelector("#txtHosts");
        let data = new FormData();
        data.append("token", "<%=token%>");
        data.append("servers", servers.value);
        data.append("hosts", hosts.value);
        let r = new XMLHttpRequest();
        r.open('POST', '<%=luci.dispatcher.build_url("admin", "services", "dnsmasq_save")%>', true);
        r.send(data);
        r.onreadystatechange = function () {
            if (r.readyState !== 4) {
                return ;
            }
            let json = JSON.parse(r.responseText)
            if (json['status'] === "ok") {
                cbiApplyUiText.innerHTML = '<font color="green">设置已保存</font>';
                setTimeout(function () { cbiApplyUi.style.display = "none"; }, 1000);
            }
            else {
                cbiApplyUiText.innerHTML = '<font color="red">设置保存失败</font>';
                setTimeout(function () { cbiApplyUi.style.display = "none"; }, 1000);
            }
        }
    }
</script>
<%+footer%>